*{
	margin: 0;
	padding: 0;
	color: #fff;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: #124;
}
form{
	display: flex;
	height: 350px;
	overflow: hidden;
	max-width: 350px;
	margin: 100px auto;
	border-radius: 7px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #132548;
	border: 1px solid #3a49675e;
}
form h1{
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}

/* inputs */
.inputs{
	width: 250px;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 10px;
	transition: background 1s;
	border: 1px solid #3a4967;
	background-color: #132548;
}
.inputs:hover{
	background-color: #182e5b;
}
/* buttons */
.btn{
	color: #fff;
	width: 250px;
	padding: 10px;
	cursor: pointer;
	transition: all 1s; 
	border-radius: 7px;
	background-color: #132548;
	border: 1px solid #3a4967;
}
.btn:hover{
	color: #fff;
	background-color: #182e5b;
}
